<div id="header_area">
  
<div id="start_badge"><img src="images/start_badge.png"></div>
      <div id="image">
        <img src="images/available_header.png">
      </div><!-- image -->
        <h1>
          AND 12 + HOURS AHEAD IN THE FUTURE. </br> 
          You <img src="images/zzz_icon.png"> i  <img src="images/pencil_icon.png">
          And you wake up to a fat stack of ad-things.
        </h1>  
      <div id="guy_icon">
      <div id="guy_hairline"></div>
        <div id="guy">
          <img src="images/contact_icon.png">
        </div><!-- guy -->
      </div><!-- guy_icon -->      


        <div id="about">      
          <p>  
          I’m Nate. I’m a writer. And I’m going to be in Asia for a bit.</br>
          While I’m here, I’m putting the time difference and my brain to good use.</br> 
          </br>
          I’m booked nightly to help with tight deadlines, fresh thinking, and words of all kinds.</br> 
          Need some ideas? You got it. 50 taglines? No problem.</br> How about a couple scripts? Sure thing.</br>  
          Spots are limited so check the schedule below, put me to work, and get some sleep. 
          </p>
        </div><!-- about -->
</div><!-- header_area -->

    <div class="hairline"></div>
  <div id="schedule">
    <img class ="section_image" src="images/schedule_icon.png">
    <h2>SCHEDULE</h2>
      <div id="content">
        <div id="calendar">
          <img src="images/schedule_calendar.png">
        </div><!-- calendar -->
          <div id="copy">
            <p>
            I’m available for projects of all kinds from November 26th through December 7th. </br>
            If you or your agency needs someone to overdeliver overnight, I’m your guy. </br>
            Shoot me an email below and we’ll get everything set up.
            </p>
          </div><!-- copy -->
      <div id="book_me">  
         <button onclick="location.href='mailto:Gagnon.Nate%40gmail.com?subject=Nightshift%20Me&body=I%E2%80%99m%20interested%20in%20putting%20Nightshift.Me%20to%20work%20on%20(insert%20date).%0A%0AThanks%2C%0A(your%20name)%0A(your%20company)';" style="cursor:pointer;">
           <p>BOOK ME</p><img src="images/book_me_arrow.png">
        </button>
      </div><!-- book_me -->
    </div><!-- content -->
  </div><!-- schedule -->
   
   
    <div class="hairline"></div>
 
 
 