<div id="copy">
  <p>
    I'm available for projects of all kinds from November 26th through December 7th. </br>
    If you or your agency needs someone to overdeliver overnight, I'm your guy. </br>
    Shoot me an email below and we’ll get everything set up.
  </p>
</div><!-- copy -->
<div id="book_me">  
  <button onclick="location.href='mailto:Gagnon.Nate%40gmail.com?subject=Nightshift%20Me&body=I%E2%80%99m%20interested%20in%20putting%20Nightshift.Me%20to%20work%20on%20(insert%20date).%0A%0AThanks%2C%0A(your%20name)%0A(your%20company)';" style="cursor:pointer;">
    <p>BOOK ME</p><img src="images/book_me_arrow.png">
  </button>
</div><!-- book_me -->