  <div id="copy">
    <p>
      Unfortunately (or fortunately depending on how you look at it), Nightshift.Me is all booked up.</br> 
      Check out <a href="http://www.makeinteresting.com" target="_blank">My Blog</a> to see what I’m up to. And say hello anyways, wont you? 
    </p>
  </div><!-- copy -->
<div id="book_me">  
   <button onclick="location.href='mailto:Gagnon.Nate%40gmail.com?subject=Hello%20Nightshift';" style="cursor:pointer;">
     <p>SAY HELLO</p><img src="images/book_me_arrow.png">
  </button>
</div><!-- book_me -->