<div class="calendar_box">
  <div class="date">
    <p><%= date %></p>
  </div><!-- date -->
    <div class="pencil"><img src="images/pencil_icon.png"></div><!-- pencil -->
</div><!-- calendar_box -->
