<div id="header_area">
  
<div id="start_badge"><img src="images/start_badge.png"></div>
      <div id="image">
        <img src="images/available_header.png">
      </div><!-- image -->
        <h1>
          AND 12+ HOURS AHEAD IN THE FUTURE. You <img src="images/zzz_icon.png"> </br> i  <img src="images/pencil_icon.png">
          And you wake up to a fat stack of ad-things.
        </h1>  
      <div id="guy_icon">
      <div id="guy_hairline"></div>
        <div id="guy">
          <img src="images/contact_icon.png">
        </div><!-- guy -->
      </div><!-- guy_icon -->      


        <div id="about">      
          <p>  
          I’m Nate. I’m a writer. And I’m going to be in Asia for a bit.</br>
          While I’m here, I’m putting the time difference and my brain to good use.</br> 
          </br>
          I’m booked nightly to help with tight deadlines, fresh thinking, and words of all kinds.</br>
          Need some ideas? You got it. 50 taglines? No problem. How about a couple scripts? Sure thing.</br>
          Spots are limited, so check the schedule below and put me to work...then get some sleep.
          </p>
        </div><!-- about -->
</div><!-- header_area -->