<div id="header_area"> 
  <div id="image">
    <img src="images/booked_header.png">
  </div><!-- image -->
  <h1>
  AND PUTTING ON ANOTHER POT OF COFFEE. 
  </br>OR THREE.
  </h1>  
    <div id="guy_icon">
        <div id="guy_hairline"></div>
      <div id="guy">
        <img src="images/contact_icon.png">
      </div><!-- guy -->
    </div><!-- guy_icon -->      

  <div id="about">      
    <p>  
    I’m Nate. I’m a writer. And I’m in Asia for a bit.</br>
    While I’m here, I’m putting the time difference and my brain to good use.</br> 
    </br>
    I’m booked nightly to help with tight deadlines, fresh thinking, and words of all kinds.</br> 
    Need some ideas? You got it. 50 taglines? No problem.</br> How about a couple scripts? Sure thing.</br>  
    Spots are limited so check the schedule below, put me to work, and get some sleep. 
    </p>
  </div><!-- about -->
</div><!-- header_area -->
        
  <div class="hairline"></div>
  
<div id="schedule">
  <img class ="section_image" src="images/schedule_icon.png">
    <h2>SCHEDULE</h2>
      <div id="content">
        <div id="calendar">
          <img src="images/schedule_calendar.png">
        </div><!-- calendar -->
          <div id="copy">
            <p>
              Unfortunately (or fortunately depending on how you look at it), Nightshift.Me is all booked up.</br> 
              Check out <a href="http://www.makeinteresting.com">My Blog</a> to see what I’m up to. And say hello anyways, wont you? 
            </p>
          </div><!-- copy -->
        <div id="book_me">  
           <button onclick="location.href='mailto:Gagnon.Nate%40gmail.com?subject=Hello%20Nightshift';" style="cursor:pointer;">
             <p>SAY HELLO</p><img src="images/book_me_arrow.png">
          </button>
        </div><!-- book_me -->
  </div><!-- content -->
</div><!-- schedule -->

<div class="hairline"></div>

