<div id="top_bar">
  <div id="clock">
    <img src="images/clock.png">
  </div><!--clock -->
  <div id="moon">
    <img src="images/moon.png">
  </div><!-- moon -->
    <div id="icons_sm">
      <a href="mailto:Gagnon.Nate@gmail.com?Subject=Nightshift%20Request"><img src="images/mail_icon_sm.png" /></a>
      <a href="http://www.linkedin.com/in/nategagnon" target="_blank"><img src="images/linkedin_icon_sm.png" /></a>
      <a href="http://twitter.com/NateyG" target="_blank"><img src="images/twitter_icon_sm.png" /></a>
    </div><!--icons_sm -->
</div><!-- top_bar-->
<div id="thickline"></div>
  <div class="hairline"></div>
<div id="header">
    <p id="name">NIGHTSHIFT.ME</p>
      <nav>
        <ul>
        <li><a href="#schedule">SCHEDULE</a></li>
        <li><a href="#work">WORK</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="http://www.makeinteresting.com">BLOG</a></li>
        </ul>
      </nav>
        <div id="image">
          <img src="images/booked_header.png">
        </div><!-- image -->
        <p>
        AND PUTTING ON ANOTHER POT OF COFFEE. </br>OR THREE.
        </p>  
          <div id="guy_icon">
            <div class="hairline"></div>
              <div id="guy">
            <img src="images/contact_icon.png">
              </div><!-- guy -->
            </div><!-- guy_icon -->      
</div><!-- header -->

        <div id="about">      
          <p>  
          I’m Nate. I’m a writer. And I’m going to be in Asia for a bit.</br>
          While I’m there I wanted to see what kinds of projects might need a little overnight love.</br> 
          So I made this here website.</br></br>
          I’m booked nightly to help with tight deadlines, fresh thinking, and words of all kinds.</br> 
          Check the schedule below and put me to work.
          </p>
        </div><!-- about -->

<div id="sections">
    <div class="hairline"></div>
  <div id="schedule">
    <img class ="section_image" src="images/schedule_icon.png">
    <p class="section_title">SCHEDULE</p>
  </div><!-- schedule -->
    <div class="hairline"></div>
  <div id="work">
    <img class ="section_image" src="images/work_icon.png">
    <p class="section_title">WORK</p>
  </div><!-- work -->
    <div class="hairline"></div>
  <div class ="contact" id="contact">
    <img class ="section_image" src="images/contact_icon.png">
      <p class="section_title">CONTACT</p>
      <div class="thanks">
        <p1>Thanks for visiting.</br> 
        i’d love to hear from you.</br> 
        </br>
        Also, hi mom.
    </div><!-- thanks -->
  </div><!-- contact -->
</div><!-- sections -->