<div class="hairline"></div>
  <div class ="header" id="header">
    <p class="name">NIGHTSHIFT.ME</p>
      <nav>
        <ul>
        <li><a href="#schedule">SCHEDULE</a></li>
        <li><a href="#work">WORK</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="http://www.makeinteresting.com">BLOG</a></li>
        </ul>
      </nav>
    <div class="about">      
      <p1>
      AND PUTTING ON ANOTHER POT OF COFFEE. </br>OR THREE.
      </p1>  
        <div class="hairline"></div>
      <p2>  
      I’m Nate. I’m a writer. And I’m going to be in Asia for a bit.</br>
      While I’m there I wanted to see what kinds of projects might need a little overnight love.</br> 
      So I made this here website.</br>
      I’m booked nightly to help with tight deadlines, fresh thinking, and words of all kinds.</br> 
      Check the schedule below and put me to work.
      </p2>
    </div><!-- about -->
  </div><!-- header -->
  <div class ="schedule" id="schedule">
    <div class="hairline"></div>
    <p class="section_title">SCHEDULE</p>
  </div><!-- schedule -->

  <div class ="work" id="work">
    <div class="hairline"></div>
    <p class="section_title">WORK</p>
  </div><!-- work -->

  <div class ="contact" id="contact">
    <div class="hairline"></div>    
        <p class="section_title">CONTACT</p>
      <div class="thanks">
        <p1>Thanks for visiting.</br> 
        i’d love to hear from you.</br> 
        </br>
        Also, hi mom.
    </div><!-- thanks -->
  </div><!-- contact -->