<div class="hairline"></div>
  <div class ="header" id="header">
    <p class="name">NIGHTSHIFT.ME</p>
      <nav>
        <ul>
        <li><a href="#schedule">SCHEDULE</a></li>
        <li><a href="#work">WORK</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="http://www.makeinteresting.com">BLOG</a></li>
        </ul>
      </nav>
  </div><!-- header -->
  <div class ="schedule" id="schedule">
    <p class="section_title">SCHEDULE</p>
  </div><!-- schedule -->

  <div class ="work" id="work">
    <p class="section_title">WORK</p>
  </div><!-- work -->

  <div class ="contact" id="contact">
    <p class="section_title">CONTACT</p>
  </div><!-- contact -->
  
  