<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Nightshift</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/nightshift.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/fontface.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/shadowbox.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/nivo-slider.css" />
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/shadowbox.js"></script>
  <script type="text/javascript" src="/javascripts/clock.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.nivo.slider.pack.js" ></script>
  <script type="text/javascript" src="/javascripts/jquery.nivo.slider.js" ></script>


  <script type="text/javascript">
  Shadowbox.init({
    overlayOpacity: .75,
    });
  </script>

  <script type="text/javascript">
  $(window).load(function() {
      $('#slider').nivoSlider({
          effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
          slices: 15, // For slice animations
          boxCols: 8, // For box animations
          boxRows: 4, // For box animations
          animSpeed: 500, // Slide transition speed
          pauseTime: 3000, // How long each slide will show
          startSlide: 0, // Set starting Slide (0 index)
          directionNav: true, // Next & Prev navigation
          controlNav: true, // 1,2,3... navigation
          controlNavThumbs: false, // Use thumbnails for Control Nav
          pauseOnHover: false, // Stop animation while hovering
          manualAdvance: true, // Force manual transitions
          prevText: 'Prev', // Prev directionNav text
          nextText: 'Next', // Next directionNav text
          randomStart: false, // Start on a random slide
          beforeChange: function(){}, // Triggers before a slide transition
          afterChange: function(){}, // Triggers after a slide transition
          slideshowEnd: function(){}, // Triggers after all slides have been shown
          lastSlide: function(){}, // Triggers when last slide is shown
          afterLoad: function(){} // Triggers when slider has loaded
          });
  });
  </script>
  
  

  <link rel="icon" href="/images/nighshift_fav.jpg" type="image/jpg">

</head>
<body>
   <div id='content'>
      <%= yield %>
    </div><!-- content -->
<div id="bottom_border"></div>    
  </body>
</html>