<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Nightshift</title>
  <link rel="icon" href="/images/nighshift_fav.jpg" type="image/jpg">
  
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/jquery.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/nightshift.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/fontface.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/orangebox.css" />
  <link rel="Stylesheet" type="text/css" href="/stylesheets/bjqs.css" />
  
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/orangebox.min.js"></script>
  <script type="text/javascript" src="/javascripts/clock.js"></script>
  <script type="text/javascript" src="/javascripts/bjqs-1.3.min.js"></script>

  
  <script type="text/javascript">
  jQuery(document).ready(function($) {
      $('#my-slideshow').bjqs({
          'height' : 570,
          'width' : 938,
          'responsive' : true,
          'hoverpause' : true,
          'animspeed' : 7000
      });
  });
  </script>
  


</head>
<body>
  <div id="thickline"></div>
   <div id='main_content'>
     <div id="top_bar">
       <div id="clock">
         <img src="images/clock.png">
       </div><!--clock -->
         <div id="moon">
           <img src="images/moon.png">
         </div><!-- moon -->
           <div id="icons_sm">
             <a href="mailto:Gagnon.Nate@gmail.com?Subject=Nightshift%20Request"><img src="images/mail_icon_sm.png" /></a>
             <a href="http://www.linkedin.com/in/nategagnon" target="_blank"><img src="images/linkedin_icon_sm.png" /></a>
             <a href="http://twitter.com/NateyG" target="_blank"><img src="images/twitter_icon_sm.png" /></a>
           </div><!--icons_sm -->
     </div><!-- top_bar-->

     
       <div class="hairline"></div>
     <div id="header">
       <p id="name">NIGHTSHIFT.ME</p>
         <nav>
           <ul>
           <li><a href="#schedule">SCHEDULE</a></li>
           <li><a href="#work">WORK</a></li>
           <li><a href="#contact">CONTACT</a></li>
           <li><a href="http://www.makeinteresting.com" target="_blank">BLOG</a></li>
           </ul>
         </nav>
       </div><!-- header -->  
       
      <%= yield %>
      
       <div id="work">
          <img class ="section_image" src="images/work_icon.png">
          <h2>WORK</h2>
          <div id="content">
            <div id="my-slideshow">
                <ul class="bjqs">
                    <li><a href="http://www.youtube.com/watch?v=LPEWCrXCu_c" rel="lightbox" data-ob_share="false" data-ob_caption="The Foursquarian Candidate"><img src='images/work/foursquarian_work.jpg' title="The Foursquarian Candidate <div class=sub><p>Check In. Become Mayor. Become Mayor.</p></div>"></a></li>
                    <li><a href="http://www.youtube.com/embed/bESBB01ZyGs?autoplay=1&hd=1" rel="shadowbox; player=iframe; width=1280; height=720" title="Illinois Lottery"><img src='images/work/lottery_work.jpg' title="Illinois Lottery <div class=sub><p>Cash For Life. The longer you live, the more you get.</p></div>"></a></li> 
                    <li><a href="http://www.facebook.com/miraclewhip/photos_stream" target="_blank"><img src='images/work/miraclewhip_work.jpg' title="Miracle Whip <div class=sub><p>Hey Facebook, Keep an Open Mouth.</p></div>"></a></li>            
                    <li><a href="http://www.makeinteresting.com/Oxford" target="_blank"><img src='images/work/oed_work.jpg' title="Oxford English Dictionary <div class=sub><p>Remember English?</p></div>"></a></li> 
                    <li><a href="http://vimeo.com/48928531" data-ob="lightbox" data-ob_share="false" data-ob_caption="State Farm"><img src='images/work/statefarm_work.jpg' title="State Farm <div class=sub><p>Stand Up - a month-long Facebook effort that let fans stand up for some neglected causes.</p></div>"></a></li>                                
                </ul
            </div><!-- my_slideshow -->
          </div><!-- content -->
        </div><!-- work -->
          <div class="hairline"></div>
        <div id ="contact">
          <img class ="section_image" src="images/contact_icon.png">
            <h2>CONTACT</h2>
            <div id="content">
                <div id="contact_map">
                  <img src="images/contact_map.png">
                </div><!-- contact_map -->
                  <ul>
                    <li><a href="mailto:Gagnon.Nate@gmail.com?Subject=Nightshift%20Request"><img src="images/mail_icon.png"></a></li>
                    <li><a href="http://www.linkedin.com/in/nategagnon" target="_blank"><img src="images/linkedin_icon.png"></a></li>
                    <li><a href="http://workingnotworking.com/nateyg" target="_blank"><img src="images/wordpress_icon.png"></a></li>
                    <li><a href="http://twitter.com/NateyG" target="_blank"><img src="images/twitter_icon.png"></a></li>
                    <li><a href="http://www.makeinteresting.com" target="_blank"><img src="images/blog_icon.png"></a></li>
                  </ul>
                <div id="thanks">
                  <p>Thanks for visiting.</br> 
                  i’d love to hear from you.</br> 
                  </br>
                  Also, hi mom.
                  </p>
            </div><!-- thanks-->  
          </div><!-- content -->
        </div><!-- contact -->
    </div><!-- main_content -->
<div id="bottom_border"></div>    
  </body>
</html>