<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Nightshift</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/nightshift.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/application.js"></script>
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/scriptaculous.js?load=effects,builder"></script>
  <script type="text/javascript" src="//use.typekit.net/atq0wwr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="icon" href="images/nighshift_fav.jpg" type="image/jpg">

  <link rel="stylesheet" type="text/css" href="/shadowbox/shadowbox.css">
  <script type="text/javascript" src="/shadowbox/shadowbox.js"></script>
  <script type="text/javascript">
  Shadowbox.init({
    overlayOpacity: .75,
    });
  </script>
</head>
<body>
  
   <div id='content'>
      <%= yield %>
    </div><!-- content -->
<div id="bottom_border"></div>    
  </body>
</html>