<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Nightshift</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/nightshift.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/fontface.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/shadowbox.css" />
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/shadowbox.js"></script>
  <script type="text/javascript" src="/javascripts/clock.js"></script>


  <script type="text/javascript">
  Shadowbox.init({
    overlayOpacity: .75,
    });
  </script>

  <link rel="icon" href="/images/nighshift_fav.jpg" type="image/jpg">

</head>
<body>
   <div id='content'>
      <%= yield %>
    </div><!-- content -->
<div id="bottom_border"></div>    
  </body>
</html>