@font-face {
    font-family: 'landrygothicregular';
    src: url('/fonts/landrygothic-webfont.eot');
    src: url('/fonts/landrygothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/landrygothic-webfont.woff') format('woff'),
         url('/fonts/landrygothic-webfont.ttf') format('truetype'),
         url('/fonts/landrygothic-webfont.svg#landrygothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}