$tan: #fefcf5;
$typecolor: #696969;
$orange: #cc6600;
$margin: 16px;
$auto: 0px auto;
$times: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$gothic: 'landrygothicregular', sans-serif;



@mixin gothic_type {
  line-height:30px;
  font-family:$gothic;
  font-size:25px;
  font-weight:bold;
}

@mixin sections{
  text-align:left;    
  width:1200px;
  margin:$auto;
  padding-top:55px;
  border:red 1px solid;
}

@mixin section_content{
  text-align:center;
  min-height:200px;
  width:937px;
  margin:$auto;
}



body {
  background-color: $tan;
  text-align:center;
  min-width:1200px;
}

  
#my_clock{
  font-family:$gothic;
  color:$orange;
  border:1px solid red;
}

#top_bar{
  position:relative;
  margin:$auto;
  width:1600px;
  padding:0px 0px 60px 0px;
    

  
  #clock{
    position:absolute;
    top:12px;
    left:15px;
    display:inline-block;
    height:27px;
    width:27px;
  }
  

  #moon{
    position:absolute;
    top:30px;
    left:725px;
    width: 120px;
    padding: 0px 0px 0px 20px;
    background-color:$tan;
    z-index:100;
  }
    
    #icons_sm{
    position:absolute;
    top:12px;
    left:1480px;
      img{
        display:inline-block;
      }
    }
}

.hairline{ 
  width:100%;
  opacity:.75;
  border-top:1px solid $typecolor;
}

#thickline{ 
  position:absolute;
  top:285px;
  height:305px;
  width:100%;
  min-width:1600px;
  background-color:$typecolor;
  z-index:-1;
}



#content{
  margin:$auto;
  color:$typecolor;
  font-family: $gothic; 
}

#header{
  position:relative;
  display:inline-block;
  margin:$auto;
  padding: 10px 0px;

  #name {
    font-size:48px;
    margin: 0px $margin / 2;
    padding: 70px 0px 0px 0px;
  }

    nav {
      padding: 10px 0px 20px 0px;
      display:inline-block;
    
      ul {
        list-style-type: none;
        text-align:left;
        display:inline;
    
        li {
          padding:0px 30px;
          display:inline;
          color:$typecolor; 
          font-family: $times;
          font-size:14px;

          a {
            text-decoration:none; 
            color:$typecolor;
          }
        }
      }
    }
    
    #image{
      margin:$auto;
    }
    
    p{
      padding-top: 29px;
     @include gothic_type;
     line-height:55px;
    }
    
    #guy_icon{
    padding:70px 0px 0px 0px; 
    margin:0px auto -20px auto;
    width:500px;
          
      #guy{
        position:relative;
        top:-40px;
      }
    } 
}


.section_title{
  @include gothic_type;
  vertical-align:top;
  display:inline-block;
  margin:25px 0px 0px 20px;
}

.section_image{
  display:inline-block;
}

#about{
  margin:$auto;
  padding: 0px 0px 60px 0px;
        
  p{
    line-height:34px;
    font-size:24px;        
    font-family:$times;  
  }
}



#schedule{
@include sections;  
    
  #content{
  @include section_content;

    #calendar{
    padding: 70px 0px 50px 0px;
    margin:$auto;
    }
  
    #copy p{
    font:24px/35px $times $typecolor;
      
      a{
        text-decoration:underline; 
        color:$typecolor;
      }
    }
  
    #book_me{
    margin: 120px auto 80px auto;
    
    }
    
    input{
    vertical-align:middle;
    border-radius:8px;
    box-shadow:inset -1px 2px 3px 0px #404040;
    border:4px solid #cfcdcd;
    width:520px;
    height:65px;
    font-family:$times;
    font-size:25px;
    color:#cccccc;  
    margin-top:1px;   
    padding: 0px 0px 0px 10px;
    }
    
    input:focus{
    outline:none;
    box-shadow: 0px 0px 7px 3px $typecolor;
    }
    
    button{
    vertical-align:middle;
    border-radius:8px;
    border:0px;
    background-color:$orange;     
    padding: 19px 10px 16px 20px;
      
      p{
      display:inline-block;
      font-family:$gothic;
      font-size:28px;
      color:$tan;
      }
      
            
      img{
      vertical-align:top;
      display:inline-block;
      margin:6px 10px 0px 8px;
      }
    }
  }
}

#work{
  @include sections;  
  }


#contact{
  @include sections;
  
  #content{
  @include section_content;
  padding-bottom: 40px;
  
    #contact_map{
    padding:15px 0px 35px 0px;
    }
    
    ul{
    list-style-type:none;
    margin:$auto;
    
      li{
      display:inline-block;
      padding:0px 35px;
      margin:$auto;
      }
    }
  
    #thanks{
    padding-top:40px;
    text-align:left;

      p{
        text-align:left;
        text-size:24px;
        @include gothic_type;        
      }
    }
  }
}


#bottom_border{
  width:100%;
  height:16px;
  background-color:$typecolor;
}