$tan: #fefcf5;
$typecolor: #696969;
$orange: #cc6600;
$margin: 16px;
$auto: 0px auto;
$times: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$gothic: 'landrygothicregular', sans-serif;



@mixin gothic_type {
  line-height:30px;
  font-family:$gothic;
  font-size:1.250em;
}

@mixin sections{
  text-align:left;    
  width:1200px;
  margin:$auto;
  padding:55px 40px 0px 40px;
}

@mixin section_content{
  text-align:center;
  min-height:200px;
  width:937px;
  margin:$auto;
}



body {
  background-color: $tan;
  text-align:center;
  min-width:1280px;
  font-weight: normal;
  color:$typecolor;
  -webkit-text-size-adjust:100%;
}

.section_image{
  display:inline_block;
  padding-right:15px;
}

h2{
display:inline-block;
font-size:1.45em;
vertical-align:top;
padding-top:30px;
}

#main_content{
  margin:$auto;
  color:$typecolor;
  font-family: $gothic;
}

  
#my_clock{
  font-family:$gothic;
  color:$orange;
  border:1px solid red;
}

#top_bar{
  position:relative;
  margin:$auto;
  width:1200px;
  height:50px;
  padding:0px 40px 0px 40px;
   
  #clock{
    position:absolute;
    top:10px;
    left:45px;
    display:inline-block;
    height:27px;
    width:27px;
  }
  
  #moon{
    position:absolute;
    top:15px;
    left:555px;
    width: 120px;
    padding: 0px 0px 0px 20px;
    background-color:$tan;
    z-index:100;
  }
    
  #icons_sm{
    position:absolute;
    top:10px;
    left:1110px;
    
    img{
      display:inline-block;
    }
  }
}


.hairline{ 
  min-width:1280px;
  width:100%;
  opacity:.75;
  border-top:1px solid $typecolor;
}

#guy_hairline{
  width:100%;
  opacity:.75;
  border-top:1px solid $typecolor;
}

#thickline{ 
  position:absolute;
  top:269px;
  height:262px;
  width:100%;
  min-width:1280px;
  background-color:$typecolor;
  z-index:-1;
}

#start_badge{
position:absolute;
top: -70px;
left:890px;
}

#content{
  margin:$auto;
  color:$typecolor;
  font-family: $gothic; 
}

#header{
  width:1200px;
  position:relative;
  display:inline-block;
  margin:$auto;
  padding: 10px 40px;

  #name {
    font-size:2.800em;
    margin: 0px $margin / 2;
    padding: 70px 0px 0px 0px;
  }

  nav{
  padding: 10px 0px 20px 0px;
  display:inline-block;

    ul{
      list-style-type: none;
      text-align:left;
      display:inline;

      li{
        padding:0px 30px;
        display:inline;
        color:$typecolor; 
        font-family: $times;
        font-size:0.875em;

        a{
          text-decoration:none; 
          color:$typecolor;
        }
      }
    }
  }
}   
    
#header_area{
    position:relative;
    width:1200px;
    padding:0px 40px;
    margin:$auto;
    
  #image{
    margin:$auto;
    margin-bottom: 40px;
  }
    
  h1{
   @include gothic_type;
   line-height:30px;
  }
  
  #guy_icon{
  padding:70px 0px 0px 0px; 
  margin:0px auto -20px auto;
  width:500px;
        
    #guy{
      position:relative;
      top:-40px;
    }
  } 

  #about{
    margin:$auto;
    padding: 10px 0px 60px 0px;
        
    p{
      letter-spacing:1px;
      line-height:20px;
      font-size:1.150em;        
      font-family:$times;  
    }
  }
}



#schedule{
@include sections; 
  
  #content{
  @include section_content;
  
    #calendar{
    padding: 70px 0px 50px 0px;
    margin:$auto;
    }
  
    #copy p{
    font:1.15em/22px $times $typecolor;
    letter-spacing:1px;
      
      a{
        text-decoration:underline; 
        color:$typecolor;
      }
    }
  
    #book_me{
    margin: 60px auto 75px auto;
    
    }
        
    button{
    vertical-align:middle;
    border-radius:8px;
    border:0px;
    background-color:$orange;     
    padding: 19px 10px 16px 20px;
      
      p{
      display:inline-block;
      font-family:$gothic;
      font-size:1.750em;
      color:$tan;
      }
      
            
      img{
      vertical-align:top;
      display:inline-block;
      margin:0px 10px 0px 8px;
      }
    }
  }
}

#work{
  @include sections;

  #content{
    margin:$auto;
    text-align:center;

    #my-slideshow{
    text-align:center;
    margin:85px auto 70px auto;
    height:600px;
    width:938px;
    
      .sub{
        text-align:left;
        position:relative;
        top:77px;
        left:20px;
         
          p{
          font-family:$times;
          color:$orange;
          font-size:1.0em;
          letter-spacing:0.1em;
        }
      }
    }
  }  
}


#contact{
  @include sections;
  
  #content{
  @include section_content;
  padding-bottom: 40px;
  
    #contact_map{
    padding:15px 0px 35px 0px;
    }
    
    ul{
    list-style-type:none;
    margin:$auto;
    
      li{
      display:inline-block;
      padding:0px 35px;
      margin:$auto;
      }
    }
  
    #thanks{
    padding-top:40px;
    text-align:left;

      p{
        text-align:left;
        font: $gothic 1.15em $typecolor;       
        line-height:20px; 
      }
    }
  }
}


#bottom_border{
  min-width:1280px;
  width:100%;
  height:16px;
  background-color:$typecolor;
}
