body {
  background-color: #fefcf5;
  text-align: center;
  min-width: 1200px;
  font-weight: normal; }

#content {
  margin: 0px auto; }

#my_clock {
  font-family: "landrygothicregular", sans-serif;
  color: #cc6600;
  border: 1px solid red; }

#top_bar {
  position: relative;
  margin: 0px auto;
  width: 1200px;
  height: 50px;
  padding: 0px 0px 0px 0px; }
  #top_bar #clock {
    position: absolute;
    top: 10px;
    left: 15px;
    display: inline-block;
    height: 27px;
    width: 27px; }
  #top_bar #moon {
    position: absolute;
    top: 15px;
    left: 525px;
    width: 120px;
    padding: 0px 0px 0px 20px;
    background-color: #fefcf5;
    z-index: 100; }
  #top_bar #icons_sm {
    position: absolute;
    top: 10px;
    left: 1080px; }
    #top_bar #icons_sm img {
      display: inline-block; }

.hairline {
  min-width: 1200px;
  width: 100%;
  opacity: .75;
  border-top: 1px solid dimgrey; }

#guy_hairline {
  width: 100%;
  opacity: .75;
  border-top: 1px solid dimgrey; }

#thickline {
  position: absolute;
  top: 268px;
  height: 264px;
  width: 100%;
  min-width: 1200px;
  background-color: dimgrey;
  z-index: -1; }

#start_badge {
  position: absolute;
  top: 100px;
  left: 870px; }

#content {
  margin: 0px auto;
  color: dimgrey;
  font-family: "landrygothicregular", sans-serif; }

#header {
  width: 1200px;
  position: relative;
  display: inline-block;
  margin: 0px auto;
  padding: 10px 0px; }
  #header #name {
    font-size: 3.000em;
    margin: 0px 8px;
    padding: 70px 0px 0px 0px; }
  #header nav {
    padding: 10px 0px 20px 0px;
    display: inline-block; }
    #header nav ul {
      list-style-type: none;
      text-align: left;
      display: inline; }
      #header nav ul li {
        padding: 0px 30px;
        display: inline;
        color: dimgrey;
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
        font-size: 0.875em; }
        #header nav ul li a {
          text-decoration: none;
          color: dimgrey; }
  #header #image {
    margin: 0px auto; }
  #header p {
    padding-top: 29px;
    line-height: 30px;
    font-family: "landrygothicregular", sans-serif;
    font-size: 1.563em;
    line-height: 55px; }
  #header #guy_icon {
    padding: 70px 0px 0px 0px;
    margin: 0px auto -20px auto;
    width: 500px; }
    #header #guy_icon #guy {
      position: relative;
      top: -40px; }

.section_title {
  line-height: 30px;
  font-family: "landrygothicregular", sans-serif;
  font-size: 1.563em;
  vertical-align: top;
  display: inline-block;
  margin: 25px 0px 0px 20px; }

.section_image {
  display: inline-block; }

#about {
  margin: 0px auto;
  padding: 0px 0px 60px 0px; }
  #about p {
    line-height: 34px;
    font-size: 1.500em;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; }

#schedule {
  text-align: left;
  width: 1200px;
  margin: 0px auto;
  padding-top: 55px; }
  #schedule #content {
    text-align: center;
    min-height: 200px;
    width: 937px;
    margin: 0px auto; }
    #schedule #content #calendar {
      padding: 70px 0px 50px 0px;
      margin: 0px auto; }
    #schedule #content #copy p {
      font: 1.5em/35px TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif dimgrey; }
      #schedule #content #copy p a {
        text-decoration: underline;
        color: dimgrey; }
    #schedule #content #book_me {
      margin: 80px auto 80px auto; }
    #schedule #content button {
      vertical-align: middle;
      border-radius: 8px;
      border: 0px;
      background-color: #cc6600;
      padding: 19px 10px 16px 20px; }
      #schedule #content button p {
        display: inline-block;
        font-family: "landrygothicregular", sans-serif;
        font-size: 1.750em;
        color: #fefcf5; }
      #schedule #content button img {
        vertical-align: top;
        display: inline-block;
        margin: 0px 10px 0px 8px; }

#work {
  text-align: left;
  width: 1200px;
  margin: 0px auto;
  padding-top: 55px; }
  #work #content {
    margin: 0px auto;
    text-align: center; }
    #work #content #my-slideshow {
      text-align: center;
      margin: 85px auto 70px auto;
      height: 600px;
      width: 938px; }
      #work #content #my-slideshow .sub {
        text-align: left;
        position: relative;
        top: 77px;
        left: 20px; }
        #work #content #my-slideshow .sub p {
          font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
          color: #cc6600;
          font-size: 1.2em;
          letter-spacing: 0.1em; }

#contact {
  text-align: left;
  width: 1200px;
  margin: 0px auto;
  padding-top: 55px; }
  #contact #content {
    text-align: center;
    min-height: 200px;
    width: 937px;
    margin: 0px auto;
    padding-bottom: 40px; }
    #contact #content #contact_map {
      padding: 15px 0px 35px 0px; }
    #contact #content ul {
      list-style-type: none;
      margin: 0px auto; }
      #contact #content ul li {
        display: inline-block;
        padding: 0px 35px;
        margin: 0px auto; }
    #contact #content #thanks {
      padding-top: 40px;
      text-align: left; }
      #contact #content #thanks p {
        text-align: left;
        text-size: 1.500em;
        line-height: 30px;
        font-family: "landrygothicregular", sans-serif;
        font-size: 1.563em; }

#bottom_border {
  width: 100%;
  height: 16px;
  background-color: dimgrey; }
