$tan: #fefcf5;
$typecolor: #696969;
$orange: #cc6600;
$margin: 16px;
$auto: 0px auto;
$times: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$gothic: 'landrygothicregular', sans-serif;



@mixin gothic_type {
  line-height:30px;
  font-family:$gothic;
  font-size:25px;
  font-weight:bold;
}

@mixin sections{
  text-align:left;
  height:600px;    
  width:1200px;
  margin:$auto;
  padding-top:60px;
  border:red 1px solid;

}



body {
  background-color: $tan;
  text-align:center;
  min-width:1600px;
}

  
#my_clock{
  font-family:$gothic;
  color:$orange;
  border:1px solid red;
  width:100px;
  height:30px;
}

#top_bar{
  position:relative;
  margin:$auto;
  width:1600px;
  padding:0px 0px 60px 0px;
    

  
  #clock{
    position:absolute;
    top:12px;
    left:15px;
    display:inline-block;
    height:27px;
    width:27px;
  }
  

  #moon{
    position:absolute;
    top:30px;
    left:725px;
    width: 120px;
    padding: 0px 0px 0px 20px;
    background-color:$tan;
    z-index:100;
  }
    
    #icons_sm{
    position:absolute;
    top:12px;
    left:1480px;
      img{
        display:inline-block;
      }
    }
}

.hairline{ 
  width:100%;
  opacity:.75;
  border-top:1px solid $typecolor;
}

#thickline{ 
  position:absolute;
  top:285px;
  height:305px;
  width:100%;
  min-width:1600px;
  background-color:$typecolor;
  z-index:-1;
}



#content{
  margin:$auto;
  color:$typecolor;
  font-family: $gothic; 
}

#header{
  position:relative;
  display:inline-block;
  margin:$auto;
  padding: 10px 0px;

  #name {
    font-size:48px;
    margin: 0px $margin / 2;
    padding: 70px 0px 0px 0px;
  }

    nav {
      padding: 10px 0px 20px 0px;
      display:inline-block;
    
      ul {
        list-style-type: none;
        text-align:left;
        display:inline;
    
        li {
          padding:0px 30px;
          display:inline;
          color:$typecolor; 
          font-family: $times;
          font-size:14px;

          a {
            text-decoration:none; 
            color:$typecolor;
          }
        }
      }
    }
    
    #image{
      margin:$auto;
    }
    
    p{
      padding-top: 29px;
     @include gothic_type;
     line-height:55px;
    }
    
    #guy_icon{
    padding:70px 0px 0px 0px; 
    margin:0px auto -20px auto;
    width:500px;
          
      #guy{
        position:relative;
        top:-40px;
      }
    } 
}


.section_title{
  @include gothic_type;
  vertical-align:top;
  display:inline-block;
  margin:25px 0px 0px 20px;
}

.section_image{
  display:inline-block;
}

#about{
  margin:$auto;
  padding: 0px 0px 60px 0px;
        
  p{
    line-height:34px;
    font-size:24px;        
    font-family:$times;  
  }
}



#schedule{
    @include sections;  
      }

#work{
  @include sections;  
  }


#contact{
  @include sections;
  
  #thanks{
  float:left;
  text-align:left;

    p1{
      @include gothic_type;        
    }
  }
}


#bottom_border{
  width:100%;
  height:24px;
  background-color:$typecolor;
}