body {
  background-color: #fefcf5;
  text-align: center; }

.hairline {
  opacity: .75;
  border-top: 1px solid dimgrey;
  padding: 5px; }

.content {
  width: 960px;
  margin: 0px auto;
  color: dimgrey;
  font-family: "mic-32-new-rounded-web", sans-serif; }

.name {
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 10px;
  margin: 0px 8px;
  border: solid 1px #cc6600; }

nav {
  border: solid 1px #cc6600;
  display: inline-block; }
  nav ul {
    list-style-type: none;
    text-align: left;
    display: inline; }
    nav ul li {
      padding: 0px 10px;
      display: inline;
      color: dimgrey;
      font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
      font-size: 12px;
      font-weight: regular; }
      nav ul li a {
        text-decoration: none;
        color: dimgrey; }

.section_title {
  float: left;
  text-align: left;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 5px;
  padding: 20px 0px 0px 20px;
  border: solid 1px red; }

.header .about {
  width: 600px;
  margin: 0px auto; }
  .header .about p1 {
    line-height: 30px;
    letter-spacing: 5px;
    font-family: "mic-32-new-rounded-web", sans-serif;
    font-size: 20px;
    font-weight: bold; }
  .header .about p2 {
    line-height: 0px;
    font-size: 12px;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; }

.schedule {
  height: 600px; }

.work {
  height: 600px; }

.contact {
  height: 600px; }
  .contact .thanks {
    float: left;
    text-align: left; }
    .contact .thanks p1 {
      line-height: 30px;
      letter-spacing: 5px;
      font-family: "mic-32-new-rounded-web", sans-serif;
      font-size: 20px;
      font-weight: bold; }
