/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.slider-wrapper{
	width:560px;
	height:350px;
	margin: 100px auto 105px auto;
	position:relative;
	padding-bottom:20px;
}
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:410px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:350px;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
	
	
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	text-align:left;
	position:absolute;
	left:0px;
	bottom:0px;
	background:none;
	color:#cc6600;
	width:75%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:10px;
	font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	background:rgba(200, 200, 0, 0.5);
	padding: 5px 10px 5px 35px;
}
.nivo-nextNav {
	right:10px;
	font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	background:rgba(200, 200, 0, 0.5);
	padding: 5px 35px 5px 10px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	position:absolute;
	top: 360px;
	left:567px;
	text-align:right;
	padding: 0;
	margin-top:0px;
}

.nivo-controlNav a {
	font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	letter-spacing:5px;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}